.next-game-button {
  box-sizing: border-box;
  width: 100%;
  color: white;
  background-color: rgb(35, 135, 249);
  border: none;
  padding: 10px 0px;
  font-weight: bold;
  border-radius: 3px;
  font-size: medium;
  text-align: center;
  cursor: pointer;
  outline-offset: 0px;
  outline-color: rgb(41, 130, 255);

  &:hover {
    background-color: rgb(75, 154, 255);
  }

  &:focus {
    outline-offset: 4px;
    transition: all 0.08s ease;
  }
}
